<footer>
  <div class="footer__left">
    <img class="footer__embl-ebi-logo" src="/images/logos/EMBL_EBI_Logo_black.svg" alt="embl-ebi logo"/>

    <span>
      Ensembl Genomes is developed by <a href="https://www.ebi.ac.uk">EMBL-EBI</a>
    </span>
  </div>

  <div class="footer__right">
    <img class="footer__elixir-logo" src="/images/logos/elixir.png" alt="elixir logo"/>
  </div>
</footer>
