<header>
  <div class="header__inner">
    <img class="header__logo" src="/images/logos/eg-logo.png" alt="ensembl logo"/>
    <span class="header__middle">
      Providing genome data for non-vertebrate species, with tools for the manipulation, analysis and visualisation of that data
    </span>
    <span class="header__right">
      Contact us
    </span>
  </div>
</header>
