<header>
  <img class="header__logo" src="/images/logos/eg-logo.png" />
  <span>
    Providing genome data for non-vertebrate species, with tools for the manipulation, analysis and visualisation of that data
  </span>
</header>
