<header>
  <div class="header__inner">
    <a href="/">
      <img class="header__logo" src="/images/logos/eg-logo.png" alt="ensembl logo"/>
    </a>
    <span class="header__middle">
      Providing genome data for non-vertebrate species, with tools for the manipulation, analysis and visualisation of that data
    </span>
    <span class="header__right">
      <a href="https://www.ensembl.info/contact-us/">
        Contact us
      </a>
    </span>
  </div>
</header>
