.pager {
  display: flex;
  justify-content: center;
}

.pager__page {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 1px 4px;

  & + & {
    margin-left: 0.5rem;
  }

  &_current {
    background-color: #008000;
    color: white;
  }
}

.pager__spanner {
  margin: 0 0.5rem;
}
