main {
  padding: 15px;
}

.search-result-item {
  padding: 2rem 0;
  line-height: 2;
}

.search-result-item__header {
  border-bottom: 1px solid #ccc;
}

.search-result-item__header-section {
  &:before {
    content: '['
  }
  &:after {
    content: ']';
  }

  a:not(:first-child) {
    margin-left: 1rem;
  }
}

.search-result-item__body {
  display: grid;
  grid-template-columns: 7rem 1fr;
}

.search-result-item__label {
  font-weight: bold;
}
