@import './variables.scss';

header {
  height: 75px;
  background-color: #333366;
  padding-left: 32px;
  color: white;
}

.header__inner {
  max-width: $max-content-width;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-top: -10px;
  margin-right: 38px;
}
