@import '../shared/variables.scss';

main {
  width: 100%;
  max-width: $max-content-width;
  margin: 0 auto;
}

.home-top-grid {
  display: grid;
  grid-template-columns: [blog] 1fr [search] 2fr;
  padding-top: 20px;
}


.home-bottom-grid {
  display: grid;
  height: 100%;
  padding-top: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "sars plants metazoa"
    "rapid-release plants metazoa"
    "protists fungi bacteria"
    "protists fungi bacteria";
  grid-template-rows: repeat(4, 140px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: start;
}
