$panel-border-color: #c5c6e8;
$panel-border-radius: 10px;

$protists-color: #714486;
$plants-color: #407253;
$bacteria-color: #70708d;
$fungi-color: #725a4c;
$metazoa-color: #015365;
$ensembl-modern-color: #2378a9; // or #3d78a5 ?

.home__division-panel {
  border: 1px solid $panel-border-color;
  border-radius: $panel-border-radius;
  max-width: 456px;
  text-align: center;
}

.home__division-panel_protists {
  grid-area: protists;
}

.home__division-panel_plants {
  grid-area: plants;
}

.home__division-panel_bacteria {
  grid-area: bacteria;
}

.home__division-panel_fungi {
  grid-area: fungi;
}

.home__division-panel_metazoa {
  grid-area: metazoa;
}

.home__panel-species {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-column-gap: 10px;
  margin-left: 50px;
  text-align: left;
  
  & + & {
    margin-top: 16px;
  }
}

.home__panel-species-image {
  img {
    max-width: 100%;
  }
}

.home__panel-goto-button {
  display: inline-block;
  padding: 12px 30px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 28px;

  &, &:visited {
    color: white;
  }
  
  &_protists {
    background-color: $protists-color;

    &:hover {
      background-color: darken($protists-color, 5%);
    }
  }

  &_plants {
    background-color: $plants-color;

    &:hover {
      background-color: darken($plants-color, 5%);
    }
  }

  &_bacteria {
    background-color: $bacteria-color;

    &:hover {
      background-color: darken($bacteria-color, 5%);
    }
  }

  &_fungi {
    background-color: $fungi-color;

    &:hover {
      background-color: darken($fungi-color, 5%);
    }
  }

  &_metazoa {
    background-color: $metazoa-color;

    &:hover {
      background-color: darken($metazoa-color, 5%);
    }
  }
}

.home__modern-panel_covid {
  grid-area: sars;
}

.home__modern-panel_rapid {
  grid-area: rapid-release;
}


.home__modern-panel-header {
  height: 64px;
  padding-left: 24px;
  background-color: $ensembl-modern-color;
  border-top-left-radius: $panel-border-radius;
  border-top-right-radius: $panel-border-radius;
}

.home__modern-panel-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
  border-style: solid;
  border-width: 1px;
  border-left-color: $panel-border-color;
  border-right-color: $panel-border-color;
  border-bottom-color: $panel-border-color;
  border-bottom-left-radius: $panel-border-radius;
  border-bottom-right-radius: $panel-border-radius;
  padding: 0 26px 0 34px;
}

.home__modern-panel-covid-body-logo {
  display: flex;
  align-items: center;
}

.home__modern-panel-covid-image {
  width: 36px;
}

.home__modern-panel-covid-label {
  font-weight: bold;
}

.home__modern-panel-goto-button {
  text-decoration: none;
  background-color: $ensembl-modern-color;
  border-radius: 5px;
  padding: 4px 8px;

  &, &:visited {
    color: white;
  }
}

.home__search-panel {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 58px;
  border: 1px solid $panel-border-color;
  background-color: #ccd4e5;

  form {
    width: 40%;
  }
}

.home__search-field {
  width: 80%;
}

.home__goto-search-button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #323366;
  color: white;
  padding: 4px 8px;
}

.home__blog-panel {
  grid-area: blog-link;
  align-self: center;
  display: flex;
  align-items: center;
} 

.home__blog-panel-image {
  height: 30px;
}
