<div class="home__division-panel home__division-panel_bacteria">
  <div>
    Here be logo!
  </div>
  {% for species in home.divisions.bacteria.species %}
    {% include 'home/panel-species.njk' %}
  {% endfor %}
  <a class="home__panel-goto-button home__panel-goto-button_bacteria" href="https://bacteria.ensembl.org/index.html">
    Go to Ensembl Bacteria
  </a>
</div>
