<div class="home__blog-panel">
  <img class="home__blog-panel-image" src="/images/icons/blog.svg" alt="ensembl blog"/>
  <a href="https://www.ensembl.info" target="_blank">
    Latest release notes, updates & news from our blog
  </a>
</div>
