<div class="home__blog-panel">
  <img class="home__blog-panel-image" src="/images/icons/blog.svg" />
  <a href="https://www.ensembl.info">
    Latest release notes, updates & news from our blog
  </a>
</div>
