<div class="home__modern-panel home__modern-panel_covid">
  <div class="home__modern-panel-header">
    <div class="home__modern-panel-logo">
      <div class="home__modern-panel-logo-image">
        <img src="/images/favicons/android-chrome-192x192.png" />
      </div>
      <span class="home__modern-panel-logo-heading">Ensembl</span>
      <span class="home__modern-panel-logo-subheading">COVID-19</span>
    </div>
  </div>
  <div class="home__modern-panel-body">
    <span class="home__modern-panel-covid-body-logo">
      <img class="home__modern-panel-covid-image" src="/images/icons/sars-cov-2.svg" alt="sars-cov-2" />
      <span class="home__modern-panel-covid-label">
        SARS-CoV-2
      </span>
    </span>
    <span>
      Genome sequence & annotation data
    </span>
    <a class="home__modern-panel-goto-button" href="https://covid-19.ensembl.org/index.html">
      Go
    </a>
  </div>
</div>
