<div class="home__modern-panel home__modern-panel_covid">
  <div class="home__modern-panel-header">
    Here be logo!
  </div>
  <div class="home__modern-panel-body">
    Here be logo!
    <a class="home__modern-panel-goto-button" href="https://covid-19.ensembl.org/index.html">
      Go
    </a>
  </div>
</div>
