<div class="home__division-panel home__division-panel_fungi">
  <div class="home__division-panel-logo-container">
    <img src="/images/favicons/android-chrome-192x192.png" />
    <div class="home__division-panel-logo-text home__division-panel-logo-text_fungi">
      EnsemblFungi
    </div>
  </div>
  <div class="home__division-panel-species-container">
    {% for species in home.divisions.fungi.species %}
      {% include 'home/panel-species.njk' %}
    {% endfor %}
  </div>
  <a class="home__panel-goto-button home__panel-goto-button_fungi" href="https://fungi.ensembl.org/index.html">
    Go to Ensembl Fungi
  </a>
</div>
