<div class="home__division-panel home__division-panel_metazoa">
  <div class="home__division-panel-logo-container">
    <img src="/images/favicons/android-chrome-192x192.png" alt="ensembl logo" />
    <div class="home__division-panel-logo-text home__division-panel-logo-text_metazoa">
      EnsemblMetazoa
    </div>
  </div>
  <div class="home__division-panel-species-container">
    {% for species in home.divisions.metazoa.species %}
      {% include 'home/panel-species.njk' %}
    {% endfor %}
  </div>
  <a class="home__panel-goto-button home__panel-goto-button_metazoa" href="https://metazoa.ensembl.org/index.html">
    Go to Ensembl Metazoa
  </a>
</div>
