<div class="home__new-website-panel">
  <div class="home__new-website-panel-header">
    <div class="home__new-website-panel-logo">
      <img src="/images/logos/ensembl-mark-monochrome.svg" class="new-ensembl-logo-image" alt="" />
      <img src="/images/logos/ensembl-logotype.svg" class="new-ensembl-logotype" alt="" />
    </div>
  </div>
  <div class="home__new-website-panel-body">
    <div class="home__new-website-panel-body-content">
      <p>
        This is the new home for genome data from across the tree of life,
        all in one platform
      </p>
      <ul class="home__new-website-panel-species-list">
        <li>
          <a href="https://www.ensembl.org/genome/GCA_900519105.1">
            Bread wheat
          </a>
          <span>IWGSC</span>
        </li>
        <li>
          <a href="https://www.ensembl.org/genome/GCA_000002985.3">
            Caenorhabditis elegans
          </a>
          <span>WBcel235</span>
        </li>
        <li>
          <a href="https://www.ensembl.org/genome/GCA_000146045.2">
            Baker’s yeast
          </a>
          <span>R64-1-1</span>
        </li>
      </ul>
    </div>
    <a class="home__panel-goto-button" href="https://ensembl.org">
      Go to the new Ensembl site
    </a>
  </div>
</div>
