<div class="home__new-website-panel">
  <div class="home__new-website-panel-header">
    <div class="home__new-website-panel-logo">
      <img src="/images/logos/ensembl-mark-monochrome.svg" class="new-ensembl-logo-image" alt="" />
      <img src="/images/logos/ensembl-logotype.svg" class="new-ensembl-logotype" alt="New Ensembl website" />
    </div>
  </div>
  <div class="home__new-website-panel-body">
    <div class="home__new-website-panel-body-content">
      <p>
        This is the new home for genome assemblies
        from each of the Ensembl divisions, as well as new genomes
        which would previously have been made available on Ensembl Rapid Release.
      </p>
      <p>
        2-weekly releases of new assemblies
        with gene & protein feature annotation
      </p>
    </div>
    <a class="home__panel-goto-button" href="https://ensembl.org">
      Go to the new Ensembl site
    </a>
  </div>
</div>
