<div class="home__modern-panel home__modern-panel_rapid">
  <div class="home__modern-panel-header">
    <div class="home__modern-panel-logo">
      <div class="home__modern-panel-logo-image">
        <img src="/images/favicons/android-chrome-192x192.png" alt="ensembl logo"/>
      </div>
      <span class="home__modern-panel-logo-heading">Ensembl</span>
      <span class="home__modern-panel-logo-subheading">Rapid Release</span>
    </div>
  </div>
  <div class="home__modern-panel-body">
    <span>
      2-weekly releases of new assemblies <br/>
      with gene & protein feature annotation
    </span>
    <a class="home__modern-panel-goto-button" href="https://rapid.ensembl.org/index.html">
      Go
    </a>
  </div>
</div>
