<div class="home__modern-panel home__modern-panel_rapid">
  <div class="home__modern-panel-header">
    Here be logo!
  </div>
  <div class="home__modern-panel-body">
    <span>
      2-weekly releases of new assemblies <br/>
      with gene & protein feature annotation
    </span>
    <a class="home__modern-panel-goto-button" href="https://rapid.ensembl.org/index.html">
      Go
    </a>
  </div>
</div>
