<div class="home__search-panel">
  <span>Search all genomes</span>
  <form action="/search" method="get">
    <input class="home__search-field" name="query" />
    <button class="home__goto-search-button" type="submit">
      Go
    </button>
  </form>
</div>
