<!doctype html>
<html lang="en">
  <head>
    {% include "head-metatags.njk" %}
    <link rel="stylesheet" href="{{ 'search_styles.css' | assetPath }}">
    <script src="{{ 'search.js' | assetPath }}" ></script>
  </head>
  <body>
    {% include "header.njk" %}
    <main></main>
    {% include "footer.njk" %}
  </body>
</html>
