<!doctype html>
<html lang="en">
  <head>
    {% include "head-metatags.njk" %}
    <link rel="stylesheet" href="{{ 'home_styles.css' | assetPath }}">
    <script src="{{ 'home_script.js' | assetPath }}" async></script>
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
